// Flexbox styles
@mixin flex($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// Breakpoints

// larger than 640px, 1024px, 1400px
$breakpoint-up: (
  'medium': '40rem',
  'large': '64rem',
  'xlarge': '87.5rem',
);

// Smaller than 640px, 1024px, 1400px
$breakpoint-down: (
  'small': '40rem',
  'medium': '64rem',
  'large': '87.5rem',
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoint-up , $size )) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoint-down , $size )) {
    @content;
  }
}
