// Primary Colors
// ----------------------
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);

// Neutral Colors
// ---------------------
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(202, 11%, 66%);

// Font family & Base font-size
// ------------------------------
$base-font-size: 18px;
$font-stack: 'Bai Jamjuree', sans-serif;
